.todo-filter {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.todo-filter button {
  background-color: #5c6bc0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-filter button.active,
.todo-filter button:hover {
  background-color: #3f51b5;
}
